*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right, #2edbe8, #5a80d1 );
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
}

#game{
    text-align: center;
    width: 500px;
    height: 200px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

.content{
    background:rgb(253, 250, 250);
    position: absolute;
    width: 100%;
    background: transparent;
}

.content h1 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
}

#character{
    width: 20px;
    height: 50px;
    background: rgb(216, 5, 5);
    position: relative;
    top: 150px;
    left: 10px;
    z-index: 2;
    
}

#block{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: blue;
    position: relative;
    top: 130px;
    left: 480px;
    z-index: 20;
    animation: block 1s infinite linear;
}

.animate{
    animation: jump 500ms infinite;
}

@keyframes block{
    0%{left:480px;}
    100%{left:-40px;}
}
@keyframes jump{
    0%{top: 150px;}
    30%{top:100px;}
    70%{top:100px;}
    100%{top: 150px;}
}

@media(max-width: 450px){
    #game {
        width: 250px;
    }

    .container {
        width: 250px;
    }

    #block{
        animation: block 1.5s infinite linear;
    }
}